{{ define "content" }}

{{ block "search-form" . }}
<form action="/contacts" method="get" class="tool-bar">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" value="{{.Query}}" hx-get="/contacts"
        hx-trigger="change, keyup delay:200ms changed" hx-target="tbody" hx-indicator="#spinner" />
    <img id="spinner" class="htmx-indicator" src="/static/img/spinning-circles.svg" />
    <input type="submit" value="Search" />
</form>
{{ end }}

{{ block "contacts-table" .}}
<form>
    <table>
        <thead>
            <tr>
                <th></th>
                <th> First </th>
                <th> Last </th>
                <th> Phone </th>
                <th> Email </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ block "contacts-rows" . }}
            {{ range .Contacts }}
            <tr>
                <td><input type="checkbox" name="selected_contact_ids" value="{{ .Id }}" /></td>
                <td>{{ .First }}</td>
                <td>{{ .Last }}</td>
                <td>{{ .Phone }}</td>
                <td>{{ .Email }}</td>
                <td>
                    <a href="/contacts/{{ .Id }}/edit">Edit</a>
                    <a href="/contacts/{{ .Id }}">View</a>
                    <a href="#" hx-delete="/contacts/{{ .Id }}" hx-swap="outerHTML swap:1s"
                        hx-confirm="Are you sure you want to delete this contact?" hx-target="closest tr">
                        Delete
                    </a>
                </td>
            </tr>
            {{ end }}
            {{ if lt .Page .MaxPage }}
            <tr>
                <td colspan="5" style="text-align: center;">
                    <button hx-target="closest tr" hx-swap="outerHTML" hx-select="tbody > tr"
                        hx-get="/contacts?page={{ incr .Page }}&q={{.Query}}">Load More </button>
                </td>
            </tr>
            {{ end }}
            {{ end }}
        </tbody>
    </table>
    <button hx-post="/contacts/multi-delete" hx-confirm="Are you sure you want to delete the selected contacts?"
        hx-target="body">
        Delete Selected Contacts
    </button>
</form>
{{ end }}

{{ block "add-contact" . }}
<p>
    <a href="/contacts/new">Add Contact</a>
    <span hx-get="/contacts/count" hx-trigger="revealed">
        <img id="spinner" class="htmx-indicator" src="/static/img/spinning-circles.svg" style="height: 1em;" />
    </span>
</p>
{{ end }}
{{ end }}
