{{ define "content" }}
<form action="/contacts/{{ .Contact.Id }}/edit" method="post">
    <fieldset>
        <legend>Contact Values</legend>
        <span class="error"> {{ .Error }} </span>
        <p>
            <label for="email">Email</label>
            <input name="email" type="email" id="email" hx-get="/contacts/{{ .Contact.Id}}/email"
                hx-target="previous .error" hx-trigger="change, keyup delay:200ms changed" placeholder="Email"
                value="{{ .Contact.Email }}" />
        </p>
        <p>
            <label for="phone">Phone</label>
            <input name="phone" type="text" id="phone" placeholder="Phone" value="{{ .Contact.Phone }}" />
        </p>
        <p>
            <label for="first_name">First Name</label>
            <input name="first_name" type="text" id="first_name" placeholder="First Name"
                value="{{ .Contact.First }}" />
        </p>
        <p>
            <label for="last_name">Last Name</label>
            <input name="last_name" type="text" id="last_name" placeholder="Last Name" value="{{ .Contact.Last }}" />
        </p>
    </fieldset>
    <button>Save</button>
</form>
<button hx-delete="/contacts/{{ .Contact.Id }}" hx-target="body" hx-push-url="true"
    hx-confirm="Are you sure you want to delete this contact?" id="delete-btn">
    Delete Contact
</button>
<p>
    <a href="/contacts">Back</a>
</p>
{{ end }}
