<!DOCTYPE html>
<html>

<head>
    <title>Contacts App</title>
    <script src="/static/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/main.css" />
</head>

<body hx-boost="true">
    <header>
        <h1> CONTACTS.APP </h1>
        <h2> A Demo Contacts Application </h2>
        <hr />
    </header>
    <main>

        {{ template "content" . }}

    </main>
</body>

</html>
