{{ define "content" }}
<form action="/contacts/new" method="post">
    <fieldset>
        <legend>Contact Values</legend>
        <p>
            <label for="email">Email</label>
            <input name="email" type="email" id="email" placeholder="Email" value="{{ .Email }}" />
        </p>
        <p>
            <label for="phone">Phone</label>
            <input name="phone" type="text" id="phone" placeholder="Phone" value="{{ .Phone }}" />
        </p>
        <p>
            <label for="first_name">First Name</label>
            <input name="first_name" type="text" id="first_name" placeholder="First Name" value="{{ .First }}" />
        </p>
        <p>
            <label for="last_name">Last Name</label>
            <input name="last_name" type="text" id="last_name" placeholder="Last Name" value="{{ .Last }}" />
        </p>
    </fieldset>
    <button>Save</button>
</form>
<p>
    <a href="/contacts">Back</a>
</p>
{{ end }}
