{{ define "content" }}
<h2>{{.First}} {{.Last}}</h2>
<div>
    <div>Phone: {{.Phone}}</div>
    <div>Email: {{.Email}}</div>
</div>
<p>
    <a href="/contacts/{{.Id}}/edit">Edit</a>
    <a href="/contacts">Back</a>
</p>
{{ end }}
