body {
    font-family: "sans-serif";
}

header {
    background-color: #ccc;
}

thead tr th {
    border-bottom: 1px solid black;
}

table {
    border-bottom: 1px solid black;
    margin-bottom: 12px;
    border-collapse: collapse;
}

table td {
    padding-right: 20px;
}

tr.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.error {
    color: red;
    font-weight: bold;
}
